body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: black;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  margin-top: 50px;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 15px;
}

.sidebar a {
  display: block;
  color: rgb(100, 100, 100);
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover{
  color: white;
}
 

div.content {
  margin-left: 280px;
  padding: 1px 16px;
  height: 1000px;
  
}

.navbar {

  overflow: hidden;
  margin-top: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(100, 100, 100);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  margin-left: 10px;
  float:inline-end;
  border-color:  rgb(100, 100, 100);
  border-style: solid;
  border-width: thin;
  border-radius: 25px;
}

.navbar a:hover {
color: white;
border-color: white;
}

i{
  margin-right: 10px;
}

.line{
  width: 250px;
  float: left;
  margin-left: 10px;

}
#p{
  margin-top: 8px;
}
#add{
  border-style: solid;
  border-width: thin;
}
